.centertext {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
}