.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.scroller {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  border: 1px solid gray;
  scroll-snap-type: y mandatory;
}

.child {
  border-bottom: 1px solid white;
  padding: 3rem;
  font-size: 1.4rem;
  color: rgba(white, .5);
  background: lightgray;
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
  justify-content: center;
}