.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.words {
  text-align: center;
  margin-top: 1rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}