.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.words {
  text-align: center;
  margin-top: 1rem;
}

.wordstop {
  text-align: center;
  margin-top: 5rem;
}

.top {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.button {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.scroller {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  border: 1px solid rgb(255, 255, 255);
  scroll-snap-type: y mandatory;
}

.child {
  border-bottom: 1px solid white;
  padding: 3rem;
  font-size: 1.4rem;
  color: rgba(white, .5);
  background: rgb(255, 255, 255);
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .spacerwords {
      display: none;
  }

  .cloggy {
    display: none;
  }

  .wordstop {
    text-align: center;
    margin-top: 10rem;
  }
}