.words {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.social {
  color: black;
}