.tabs {
    display: flex;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .tab {
    background: rgba( 144, 144, 144, 0.25 );
    border-radius: 40px;
    margin: 0.5rem;
    width: calc(20px + 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selectedtab {
    background: rgba( 144, 144, 144, 0.25 );
    border-radius: 40px;
    margin: 0.5rem;
    width: calc(20px + 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(105, 154, 234);
  }
  .tab:hover {
    background: rgb(105, 154, 234);
    cursor: pointer;
  }
  
  .content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .selectedcontent {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    background: rgba(105, 102, 102, 0.036);
    border-radius: 20px;
    padding: 10px;
  }
  
  @media (max-width: 1600px) {
    .selectedcontent {
        background: none;
    }
  }